<h3>Contacts</h3>

  <div class="form-group">
    <label>Your name</label>
    <input name="mailname" type="text" class="form-control" placeholder="Type your name here...">
  </div>

  <div class="form-group">
    <label>Your email</label>
    <input name="email" type="email" class="form-control" placeholder="Type your email here...">
  </div>

  <div class="form-group">
    <label>Your questions and wishes</label>
    <textarea name="text" type="textarea" class="form-control" rows="3" placeholder="Write us..."></textarea>
  </div>


  <button type="submit" class="btn btn-success">Send</button>

</form>